.main-chat
  .header
    .header__group
      .header__group--name 
        = @group.name
      .header__group--member Member : 
      .header__group--list
        - @group.users.each do |user|
          =  user.name
    = link_to edit_group_path(@group), class: 'header__btn' do
      .header__btn--edit Edit

  .chat-space
    - @messages.each do |message|
      .message
        .message__name
          = message.user.name
        .message__date-time
          = message.created_at.strftime("%Y-%m-%d %H:%M")
        .message__comment
          - if message.body.present?
            = message.body
          = image_tag message.image.url, class: 'image' if message.image.present?

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'input-area', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'label' do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'submit-btn'