.side_bar
  .user
    .user__name 
      = current_user.name
    .user__icons
      = link_to '#', class: 'user__icons__btn' do
        = fa_icon 'cog', class: 'user__icons__btn--cog'
      = link_to edit_user_path(current_user), class: 'user__icons__btn' do
        = fa_icon 'edit', class: 'user__icons__btn--edit'
  .groups
    .groups__name グループ名
    .groups__comment コメント